@model MVC.Models.DTOs.CategoriaDTO

@{
    ViewData["Title"] = "Crear Categoria";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicio - Categorías</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main>
        <div class="content">
            <div class="section-header">
                <h2>Crear categoría</h2>
            </div>

            <!-- Formulario para crear categorías -->
            <form asp-action="crearCategoria" asp-controller="Categorias" method="post" class="form">
                <div>
                    <label asp-for="Nombre">Nombre</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre categoría" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn yellow">Guardar</button>
                </div>
            </form>
        </div>
    </main>
    <script src="~/js/main.js"></script>
</body>
</html>
