@model List<MVC.Models.DTOs.CategoriaDTO>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de categorías</title>

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <main class="container full-width">
        <h2 class="titulo">Lista de categorías</h2>

        <!-- Filtro de búsqueda -->
        <div class="search-filter">
            <input type="text" placeholder="Buscar por ID o Nombre" id="searchInput">
            <button class="btn yellow">Buscar</button>
        </div>

        <table class="tabla-empleados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.Id</td>
                        <td>@cat.Nombre</td>
                        <td>
                            <!-- Botón modificar -->
                            <a href="@Url.Action("Editar", "Categorias", new { id = cat.Id })" class="btn btn-warning">
                                <i class="ri-edit-2-line"></i>
                            </a>

                            <!-- Botón eliminar -->
                            <a href="@Url.Action("Eliminar", "Categorias", new { id = cat.Id })" class="btn btn-danger">
                                <i class="ri-delete-bin-6-line"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>

    <!--=============== JS ===============-->
    <script src="/js/site.js"></script>
</body>
</html>
