<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MVC</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/css/site.css">

</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <!-- <li><a href="#" class="nav__link">Home</a></li>

                    <li><a href="#" class="nav__link">Company</a></li> -->
                    <!--=============== Empleados ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Empleados <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Empleados
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Empleado
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Empleado
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Empleado
                                </a>
                        </ul>
                    </li>

                    <!--=============== Clientes ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Clientes <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Clientes
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Cliente
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Cliente
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Cliente
                                </a>
                        </ul>
                    </li>

                    <!--=============== Productos ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Productos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Productos
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Producto
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Producto
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Producto
                                </a>
                        </ul>
                    </li>

                    <!--=============== Categorias ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Categorias <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Categorias
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Categoria
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Categoria
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Categoria
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Pedidos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Pedidos
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Pedido
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Pedido
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Pedido
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="#" class="nav__link">Stock</a></li>

                    <!--=============== Proveedores ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Proveedores <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Proveedores
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Proveedor
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Proveedor
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Proveedor
                                </a>
                        </ul>
                    </li>

                    <!--=============== Distribuidores ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Distribuidores <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Distribuidores
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Distribuidor
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Distribuidor
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Distribuidor
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="#" class="nav__link">Compras</a></li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="#" class="nav__link">Ventas</a></li>


                </ul>
            </div>
        </nav>
    </header>
    <script href="../js/main.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>