@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="../css/style.css">

    <title>Pagina Inicio - Empleados</title>
</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <!-- <li><a href="#" class="nav__link">Home</a></li>

                    <li><a href="#" class="nav__link">Company</a></li> -->
                    <!--=============== Empleados ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Empleados <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaEmpleados.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Empleados
                                </a>
                            </li>

                            <li>
                                <a href="crearEmpleado.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Empleado
                                </a>
                            </li>

                            <li>
                                <a href="modificarEmpleado.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Empleado
                                </a>
                            </li>

                            <li>
                                <a href="eliminarEmpleado.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Empleado
                                </a>
                        </ul>
                    </li>

                    <!--=============== Clientes ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Clientes <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaClientes.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Clientes
                                </a>
                            </li>

                            <li>
                                <a href="crearCliente.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Cliente
                                </a>
                            </li>

                            <li>
                                <a href="modificarCliente.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Cliente
                                </a>
                            </li>

                            <li>
                                <a href="eliminarCliente.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Cliente
                                </a>
                        </ul>
                    </li>

                    <!--=============== Productos ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Productos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaProductos.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Productos
                                </a>
                            </li>

                            <li>
                                <a href="crearProducto.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Producto
                                </a>
                            </li>

                            <li>
                                <a href="modificarProducto.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Producto
                                </a>
                            </li>

                            <li>
                                <a href="eliminarProducto.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Producto
                                </a>
                        </ul>
                    </li>

                    <!--=============== Categorias ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Categorias <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaCategorias.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Categorias
                                </a>
                            </li>

                            <li>
                                <a href="crearCategoria.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Categoria
                                </a>
                            </li>

                            <li>
                                <a href="modificarCategoria.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Categoria
                                </a>
                            </li>

                            <li>
                                <a href="eliminarCategoria.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Categoria
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Pedidos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaPedidos.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Pedidos
                                </a>
                            </li>

                            <li>
                                <a href="crearPedido.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Pedido
                                </a>
                            </li>

                            <li>
                                <a href="modificarPedido.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Pedido
                                </a>
                            </li>

                            <li>
                                <a href="eliminarPedido.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Pedido
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="stock.html" class="nav__link">Stock</a></li>

                    <!--=============== Proveedores ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Proveedores <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaProveedores.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Proveedores
                                </a>
                            </li>

                            <li>
                                <a href="crearProveedor.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Proveedor
                                </a>
                            </li>

                            <li>
                                <a href="modificarProveedor.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Proveedor
                                </a>
                            </li>

                            <li>
                                <a href="eliminarProveedor.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Proveedor
                                </a>
                        </ul>
                    </li>

                    <!--=============== Distribuidores ===============-->

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Distribuidores <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="listaDistribuidores.html" class="dropdown__link">
                                    <i class="ri-list-check"></i> Lista Distribuidores
                                </a>
                            </li>

                            <li>
                                <a href="crearDistribuidor.html" class="dropdown__link">
                                    <i class="ri-add-box-line"></i> Crear Distribuidor
                                </a>
                            </li>

                            <li>
                                <a href="modificarDistribuidor.html" class="dropdown__link">
                                    <i class="ri-edit-2-line"></i> Modificar Distribuidor
                                </a>
                            </li>

                            <li>
                                <a href="eliminarDistribuidor.html" class="dropdown__link">
                                    <i class="ri-delete-bin-5-line"></i> Eliminar Distribuidor
                                </a>
                        </ul>
                    </li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="compras.html" class="nav__link">Compras</a></li>

                    <!--=============== Pedidos ===============-->

                    <li><a href="ventas.html" class="nav__link">Ventas</a></li>

                    <!--=============== Usuario / Cerrar Sesión ===============-->
                    <li class="dropdown__item user-dropdown">
                        <div class="nav__link">
                            <i class="ri-user-line"></i> <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>
                        <ul class="dropdown__menu">
                            <li>
                                <a href="../loggin.html" class="dropdown__link">
                                    <i class="ri-logout-box-line"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            <!-- Header de la sección -->
            <div class="section-header">
                <h2>Crear cliente</h2>
            </div>

            <!-- Formulario para crear empleados -->
            <div class="form">
                <input type="text" placeholder="Nombre y Apellido">
                <input type="text" placeholder="DNI">
                <input type="text" placeholder="Teléfono">
                <input type="text" placeholder="Dirección">
                <input type="text" placeholder="Ciudad">
                <input type="text" placeholder="Código Postal">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Estado">
                <button class="btn yellow">Guardar</button>
            </div>

        </div>
    </main>

    <script href="../js/main.js"></script>
</body>
</html>
