@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== GOOGLE FONTS ===============*/

/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0px;
    padding: 0px;
}


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 22%);
    --black-color: hsl(0, 0%, 0%);
    --black-color2: #F2CF1D;
    --black-color2-light: hsl(220, 24%, 15%);
    --black-color2-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    /* #F2CF1D */
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --body-font2: "Montserrat", sans-serif;
    --normal-font-size2: .938rem;
    --font-regular2: 400;
    --font-semi-bold2: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
}

#login_img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: brightness(85%);
}

/*=============== LOGIN ===============*/
.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login__form {
    position: relative;
    margin-inline: 1.5rem;
    background-color: hsla(0, 0%, 100%, .01);
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding: 2.5rem 1rem;
    color: var(--white-color);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
}

.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
    display: grid;
}

.login__inputs {
    row-gap: 1.25rem;
    margin-bottom: 1rem;
}

.login__box {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
}

.login__input,
.login__button {
    border: none;
    outline: none;
}

.login__input {
    width: 100%;
    background: none;
    color: var(--white-color);
    padding-block: 1rem;
}

    .login__input::placeholder {
        color: var(--white-color);
    }

.login__box i {
    font-size: 1.25rem;
}


.login__button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 4rem;
    color: var(--black-color);
    font-weight: 500;
    cursor: pointer;
}

.login__register {
    font-size: var(--small-font-size);
    text-align: center;
}

    .login__register a {
        color: var(--white-color);
        font-weight: 500;
    }

        .login__register a:hover {
            text-decoration: underline;
        }


/* NAVBAR */
ul {
    list-style: none;
    /*-webkit-tap-highlight-color: transparent;*/
}

a {
    text-decoration: none;
}

/*=============== CLASSES MEDIANAMENTE REUSABLES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color2);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/*=============== NAVBAR ===============*/
.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold2);
    /*-webkit-tap-highlight-color: transparent; probar esto en mobiles, es para que los botones quede el color al presionar*/
}

    .nav__logo i {
        font-weight: initial;
        font-size: 1.25rem;
    }

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* para mobile */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

        .nav__menu::-webkit-scrollbar {
            width: 0;
        }

    .nav__list {
        background-color: var(--black-color2);
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: var(--black-color2);
    font-weight: var(--font-semi-bold2);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

    .nav__link:hover {
        background-color: var(--black-color2-light);
    }

/* Desplegar menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* mostrar icono */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--black-color2-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold2);
    transition: background-color .3s;
}

    .dropdown__link i,
    .dropdown__sublink i {
        font-size: 1.25rem;
        font-weight: initial;
    }

    .dropdown__link:hover,
    .dropdown__sublink:hover {
        background-color: var(--black-color2);
    }

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/*mostrar menu y drop */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* rotar icono del drop */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: var(--black-color2-lighten);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

@media screen and (min-width: 1118px) {


    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

        .nav__link:hover {
            background-color: transparent;
        }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    .dropdown__subitem:hover > .dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
    }
}


@media screen and (min-width: 576px) {
    :root {
        --normal-font-size2: 1rem;
    }

    .login {
        justify-content: center;
    }

    .login__form {
        width: 420px;
        padding-inline: 2.5rem;
    }

    .login__title {
        margin-bottom: 2rem;
    }
}

/* -------------------------------------------------- Pantalla Loggin -------------------------------------------------- */
/* Contenedor principal */
.login-container {
    background: #fff;
    width: 500px;
    border: 2px solid #0a3d62;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: inherit;
}

/* Header */
.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0e0e0;
    padding: 15px 20px;
    border-bottom: 2px solid #ccc;
}

.login-header h2 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.app-logo i {
    background: #0a3d62;
    color: #fff;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
}

/* Formulario */
.login-form {
    padding: 30px 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.input-icon {
    position: relative;
}

.input-icon input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
}

.input-icon i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

/* Botón */
.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #009432, #38ada9);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

    .btn:hover {
        opacity: 0.9;
    }
