@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="../css/style.css">

    <title>Pagina Inicio - Empleados</title>
</head>
<body>
 
    <main>
        <div class="content">
            <!-- Header de la sección -->
            <div class="section-header">
                <h2>Crear producto</h2>
            </div>

            <!-- Formulario para crear empleados -->
            <div class="form">
                <input type="text" placeholder="Nombre producto">
                <input type="text" placeholder="Proveedor">
                <input type="text" placeholder="Categoría">
                <input type="text" placeholder="Unidades">
                <input type="text" placeholder="Precio venta">
                <button class="btn yellow">Guardar</button>
            </div>

        </div>
    </main>

    <script href="../js/main.js"></script>
</body>
</html>
