@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!--=============== CONTENIDO PRINCIPAL ===============-->
    <main class="container full-width">
        <h2 class="titulo">Lista de productos</h2>

        <!-- Filtro de búsqueda -->
        <div class="search-filter">
            <input type="text" placeholder="Buscar por ID, Nombre o Categoría" id="searchInput">
            <button class="btn yellow">Buscar</button>
        </div>

        <table class="tabla-empleados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre producto</th>
                    <th>Proveedor</th>
                    <th>Categoría</th>
                    <th>Unidades</th>
                    <th>Precio venta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Coca Cola 1.5 ltrs</td>
                    <td>Entre copas</td>
                    <td>Bebida</td>
                    <td>120</td>
                    <td>$1.950</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Oreo</td>
                    <td>Arcor SRL</td>
                    <td>Masitas</td>
                    <td>80</td>
                    <td>$1.200</td>
                </tr>

            </tbody>
        </table>

    </main>

    <!--=============== JS ===============-->
    <script src="../js/main.js"></script>
</body>
</html>

