@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="../css/style.css">

    <title>Pagina Inicio - Empleados</title>
</head>
<body>

    <main>
        <div class="content">
            <!-- Header de la sección -->
            <div class="section-header">
                <h2>Eliminar empleado</h2>
            </div>

            <!-- Filtro de búsqueda -->
            <div class="search-filter">
                <input type="text" placeholder="Buscar por ID, DNI o Nombre" id="searchInput">
                <button class="btn yellow">Buscar</button>
            </div>

            <!-- Formulario para eliminar empleados -->
            <div class="form">
                <input type="text" placeholder="Nombre y Apellido" id="nombreApellido" disabled>
                <input type="text" placeholder="DNI" id="dni" disabled>
                <input type="text" placeholder="Teléfono" id="telefono" disabled>
                <input type="text" placeholder="Dirección" id="direccion" disabled>
                <input type="text" placeholder="Ciudad" id="ciudad" disabled>
                <input type="text" placeholder="Código Postal" id="codigoPostal" disabled>
                <input type="email" placeholder="Email" id="email" disabled>
                <input type="text" placeholder="Cargo" id="cargo" disabled>
                <input type="text" placeholder="Estado" id="estado" disabled>
                <button class="btn red">Eliminar</button>
            </div>
        </div>
    </main>



    <script href="../js/main.js"></script>
</body>
</html>
